# Ignore everything under .idea except for codeStyles directory
.idea/*
!.idea/
!.idea/codeStyles/

# Ignore everywhere
**/build
**/local.properties

# Ignore specific
.DS_Store
/captures
.externalNativeBuild
.cxx
/caches
/wrapper
/daemon
/native
*.iml
.gradle
